[Unit]
Description=UI Server

[Service]
Environment=PORT=3000
ExecStart=/usr/bin/serve -s /root/ui_server/build
WorkingDirectory=/root/ui_server
StandardOutput=file:/var/log/uilog/out.log
StandardError=file:/var/log/uilog/err.log

[Install]
WantedBy=multi-user.target
